/* hides scrollbar */
body::-webkit-scrollbar{
    display: none;
}
/* To hide text overflow(above 300px is hidden) */
.card-text{
    width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

/* to make modal occupy the full view port */
.my-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-ku{
    width: 100%;
    height: 100vh;
    margin: auto;
}
.modal::-webkit-scrollbar{
    display: none;
}
/* Styling the containters */
.ingredients-container{
    margin-left: 15px;
}
.category-container{
    display: flex;
    margin-left: 15px;
}
.category-container p{
    margin-left: 10px;
    font-size: 1.1rem;
}
#instruction-heading{
    margin-left: 15px;
}
/* Styling img */
.dish-img{
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
/* Styling video-link */
.video-link{
    display: flex;
    justify-content: center;
}
/*  */
.fav-dish{
    color: red;
}
