body{
    background-color: white;
    height: 100vh;
}
body::-webkit-scrollbar{
    display: none;
}
/* styling the search box container */
.search-box-container{
    width: 750px;
    margin: 70px auto;
    
}
/* setting the position relative for positioning the icons */
.input-Box{
    position: relative;
}
/* styling the input box */
.input-Box input{
    padding: 0px 60px 0px 20px;
    height: 55px;
    width: 700px;
    font-size: 18px;
    outline: none;
    border: none;
    box-shadow: 1px 0px 10px 2px gray;
}
/* Styling the suggestion box/auto complete box */
.input-Box .autocom-Box li{
    list-style: none;
    background: white;
    height: 55px;
    width: 700px;
    padding: 20px 60px 5px 20px;
    font-size: 18px;
    cursor: pointer;
}

.input-Box .autocom-Box li:hover{
    background: whitesmoke;
}
/* Setting the display to none by default */
.input-Box .autocom-Box{
    display: none;
}
/* .active class will be added by js file so that we can show suggestions */
.input-Box .sugg-active{
    display: block;
}
/* Styling the search icon */
.input-Box .icon{
    position: absolute;
    height: 55px;
    width: 55px;
    font-size: 18px;
    padding: 5px;
    top: 0px;
    right: 50px;
    margin-left: 5px;
    transition: 0.4s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.icon:hover{
    background: #7c7c7c2b;
}
/* Styling the close icon */
.input-Box .close{
    position: absolute;
    height: 55px;
    width: 55px;
    font-size: 40px;
    top: 0;
    right: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close i{
    transform: rotate(45deg);
    color: black;
}
/* Styling modal */
.modal::-webkit-scrollbar{
    display: none;
}
/* to make modal occupy the full view port */
.my-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* helps to toggle between the visibility of modal */
.active{
    display: none;
}
.modal-ku{
    width: 100%;
    height: 100vh;
    margin: auto;
}
/* Styling the containters */
.category-container{
    display: flex;
    margin-left: 15px;
}
.category-container p{
    margin-left: 10px;
    font-size: 1.1rem;
}
.ingredients-container{
    margin-left: 15px;
}
#instruction-heading{
    margin-left: 15px;
}
/* Styling img */
.dish-img{
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
/* Styling video-link */
.video-link{
    display: flex;
    justify-content: center;
}
/* making the search bar and the suggestion box responsive */
@media screen and (max-width: 900px) {

    /* styling the search box container */
    .search-box-container{
        width: 550px;
        margin: 70px auto;
        
    }
    /* setting the position relative for positioning the icons */
    .input-Box{
        position: relative;
    }
    /* styling the input box */
    .input-Box input{
        padding: 0px 40px 0px 10px;
        height: 40px;
        width: 500px;
        font-size: 20px;
        outline: none;
        border: none;
        box-shadow: 1px 0px 10px 2px gray;
    }
    /* Styling the suggestion box/auto complete box */
    .input-Box .autocom-Box li{
        list-style: none;
        background: white;
        height: 40px;
        width: 500px;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
    }
    
    /* Styling the search icon */
    .input-Box .icon{
        position: absolute;
        height: 40px !important;
        width: 40px !important;
        font-size: 15px;
        top: 0px;
        right: 50px;
        /* margin-left: 5px; */
        transition: 0.4s all ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
    }
    /* Styling the close icon */
    .input-Box .close{
        position: absolute;
        height: 40px !important;
        width: 40px !important;
        font-size: 30px !important;
        top: 0;
        right: -20px !important;
        /* background-color: lightgray; */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    
}

/* making the search bar and the suggestion box responsive */
@media screen and (max-width: 600px) {

    /* styling the search box container */
    .search-box-container{
        width: 300px;
        margin: 70px auto;
        
    }
    /* setting the position relative for positioning the icons */
    .input-Box{
        position: relative;
    }
    /* styling the input box */
    .input-Box input{
        padding: 0px 40px 0px 10px;
        height: 40px;
        width: 250px;
        font-size: 18px;
        outline: none;
        border: none;
        box-shadow: 1px 0px 10px 2px gray;
    }
    /* Styling the suggestion box/auto complete box */
    .input-Box .autocom-Box li{
        list-style: none;
        background: white;
        height: 40px;
        width: 400px;
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
    }


    .input-Box .autocom-Box li:hover{
        background: whitesmoke;
    }
    
    
    
}
.custom-footer{
    width: 100%;
    position: fixed;
    bottom: 0;
}
